<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link href="/public/styles/main.css" rel="stylesheet" />
      <link rel="icon" href="/public/images/m.svg" />
  </head>
  <body>
    {{> navbar}}
    <header>
      <h2>MattWin Photography</h2>
      <p></p>
      <a href="/photos">Photos</a>
      <a href="/videos">Videos</a>
      <a href="/cameras">Cameras</a>
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
    </header>
  </body>
</html>
